In [2]:
import pandas as pd

df_proc = pd.read_csv("procedures_icd.csv.gz", compression="gzip")

# Node file: one row per ICD procedure code + version
procedure_nodes = (
    df_proc[['icd_code', 'icd_version']]
    .drop_duplicates()
    .sort_values(['icd_version','icd_code'])
)

procedure_nodes.to_csv("procedure_nodes.csv", index=False)
procedure_nodes.head()

       icd_code  icd_version
19232      0009            9
67074      0010            9
3003       0011            9
6560       0012            9
222483     0013            9

In [20]:
import pandas as pd

df = pd.read_csv("procedures_icd.csv.gz", compression="gzip", dtype=str)

edges = (
    df[['hadm_id', 'icd_code', 'icd_version', 'chartdate', 'seq_num', 'subject_id']]
      .dropna(subset=['hadm_id','icd_code'])
      .drop_duplicates()
      .rename(columns={
          'hadm_id': ':START_ID(Admission)',
          'icd_code': ':END_ID(Procedure)'
      })
)

edges.to_csv("admission_has_procedure.csv", index=False)
print("✅ Rewrote admission_has_procedure.csv with neo4j-admin headers")
print(edges.head())

✅ Rewrote admission_has_procedure.csv with neo4j-admin headers
  :START_ID(Admission) :END_ID(Procedure) icd_version   chartdate seq_num  \
0             22595853               5491           9  2180-05-07       1
1             22841357               5491           9  2180-06-27       1
2             25742920               5491           9  2180-08-06       1
3             25022803               8938           9  2160-03-03       1
4             27988844            0QS734Z          10  2183-09-19       1

  subject_id
0   10000032
1   10000032
2   10000032
3   10000068
4   10000117

In [18]:
procedure_edges

         hadm_id icd_code icd_version   chartdate seq_num subject_id
0       22595853     5491           9  2180-05-07       1   10000032
1       22841357     5491           9  2180-06-27       1   10000032
2       25742920     5491           9  2180-08-06       1   10000032
3       25022803     8938           9  2160-03-03       1   10000068
4       27988844  0QS734Z          10  2183-09-19       1   10000117
...          ...      ...         ...         ...     ...        ...
859650  21033226     0331           9  2164-09-16       5   19999840
859651  26071774     8891           9  2164-07-25       1   19999840
859652  26071774     8841           9  2164-07-25       2   19999840
859653  23865745     8841           9  2145-11-07       1   19999987
859654  23865745     9671           9  2145-11-02       2   19999987

[859655 rows x 6 columns]

In [28]:
df_proc_icd = pd.read_csv("d_icd_procedures.csv")

In [30]:
df_proc_icd

      icd_code  icd_version                                         long_title
0         0001            9  Therapeutic ultrasound of vessels of head and ...
1         0002            9                    Therapeutic ultrasound of heart
2         0003            9  Therapeutic ultrasound of peripheral vascular ...
3         0009            9                       Other therapeutic ultrasound
4          001           10  Central Nervous System and Cranial Nerves, Bypass
...        ...          ...                                                ...
86418  XXEBXQ6           10  Measurement of Infection, Lower Respiratory Fl...
86419      XY0           10       New Technology, Extracorporeal, Introduction
86420  XY0VX83           10  Extracorporeal Introduction of Endothelial Dam...
86421  XY0YX28           10  Extracorporeal Introduction of Taurolidine Ant...
86422  XY0YX37           10  Extracorporeal Introduction of Nafamostat Anti...

[86423 rows x 3 columns]

In [32]:
import pandas as pd

df_proc_icd = pd.read_csv("d_icd_procedures.csv", dtype=str)

procedure_nodes = (
    df_proc_icd[['icd_code', 'icd_version', 'long_title']]
      .drop_duplicates()
      .rename(columns={
          'icd_code': 'icd_code:ID(Procedure)',
          'icd_version': 'icd_version',
          'long_title': 'long_title'
      })
)

procedure_nodes.to_csv("procedure_nodes.csv", index=False)

print("✅ procedure_nodes.csv created")
procedure_nodes.head()

✅ procedure_nodes.csv created

,icd_code:ID(Procedure),icd_version,long_title
0,0001,9,Therapeutic ultrasound of vessels of head and ...
1,0002,9,Therapeutic ultrasound of heart
2,0003,9,Therapeutic ultrasound of peripheral vascular ...
3,0009,9,Other therapeutic ultrasound
4,001,10,"Central Nervous System and Cranial Nerves, Bypass"